@import 'tailwindcss';

@theme {
  --color-*: initial;

  --color-primary: #000003;
  --color-secondary: #f5f5f5;

  --color-background: #fafbed;
  --color-background-secondary: #0d0b0e;

  --font-sans: 'Work Sans', sans-serif;
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-anton: 'Anton', sans-serif;
}
